/* -----------------------------------------------------COLORS
 KS Flag blue #002069
 KS Flag gold #fcd200 
*/

/* ------------------------------------------------------General Styles */
* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
}

body {
  background-color: whitesmoke;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #002069;
  color: white;
  text-decoration: none; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: .5rem;
}

.button:hover {
  background-color: #555;
  color: #fff;
}

.sections_container {
  justify-content: space-around;
  flex-direction: row;
  width: 50%;
}

/* .text_overlay {
  background-color: rgba(51, 51, 51, 0.5); 
    color: #fff;
    margin: auto;
} */


/* --------------------------------------------------------Navbar */

nav {
    background-color: rgba(51, 51, 51, 0.5); 
    color: #fff; 
    padding: .7rem 1.2rem; 
    display: flex;
    justify-content:space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .nav_logo {
    width: 50px; 
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .nav-item {
    margin-right: 1.25rem;
    margin-left: 1.25rem;
  }
  
  .nav-item a {
    text-decoration: none;
    color: #fff; 
  }
  
  a:hover {
    color: rgba(0,32,105,255);
  }
  
  form {
    display: flex;
    margin-right: 2rem;
  }
  
  input[type="search"] {
    padding: 5px;
    border: none;
    border-radius: 3px;
  }
  
  button[type="submit"] {
    background-color: #555;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    margin-left: 5px; 
  }
  
  button[type="submit"]:hover {
    background-color: #002069; 
  }
  
 
  /* ---------------------------------------------------------INDEX */


  .hero, .sections_container {
    margin: auto;
    width: 66%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
    border-radius: 1rem;
  }

  .hero h1 {
    font-size: 3rem;
    margin-bottom: 0;
  }

  .slogan {
    font-style: italic;
    margin-bottom: .5rem;
  }

  .hero_intro {
    display: flex;
    align-items: center;
    padding: .5rem;
    margin: auto;
    width: 75%;
  }

  .index_container {
    justify-content: space-around;
    flex-direction: row;
    width: 50%;
  }

.sunflower-list li {
  list-style: none;
  clear: both; 
}

/* For the sunflower emojis */
.sunflower-list li::before {
  content: "\1F33B"; 
  float: left;
  font-size: 1.1rem; 
  position: relative;
  bottom: 5px;
}

.sunflowers_img {
  width: 15rem;
  height: auto;
  border-radius: .5rem;
}

  .ks_flag {
    width: 25rem;
    height: auto;
    margin: auto;
    border-radius: .5rem;
  }

  /* ------------------------------------------------------Topeka */

  /* Carousel */

  .carousel_container {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 38rem; 
    height: 20rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.carousel_slide {
    display: flex;
}

.carousel_image {
    height: 100%;
    width: auto;
    display: none;
}

.active {
    display: block;
}

.carousel_button {
  padding: .25rem 1rem;
  font-weight: bold;
  border-radius: 5px;
}

  